---
- name: Update rc.d defaults
  shell: 'update-rc.d activemq-instance-{{ amq_broker_instance_name }} defaults'

- name: Ensure activemq service is running
  service:
    name: 'activemq-instance-{{ amq_broker_instance_name }}'
    state: started
    enabled: yes
